app:
  host: "127.0.0.1"
  port: "8000"
  debug: false
mongodb:
  url: "YOUR_DATABASE_URL"
  database: "YOUR_DATABASE_NAME"
security:
  salt: "YOUR_SECRET_SALT"
  secret: "YOUR_SECRET_KEY"
  bcrypt_cost: 12
  access_lifetime: 10
  refresh_lifetime: 4320
